.App {
  background-color: #282c34;
  margin-bottom: 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'MonoLisaRegular';
  src: local('MonoLisaRegular'), url('./assets/fonts/MonoLisaRegular.ttf') format('truetype');
}

@media (max-width:768px) {
  .large-text {
    font-size: 2.3em;
    color: #fd9855;
  }
  
  .small-text {
    font-size: 1.5em;
  }

  
  .Header-div {
    align-self: center;
    font-family: 'MonoLisaRegular', fallback;
    color: white;
    text-align: center;
  }
  
  
  .svg-container {
    margin-top: 70px;
    margin-bottom: 50px;
    align-self: center;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  .github {
    margin-top: 8px;
    cursor: pointer;
    fill: white;
    width: 50px;
    height: 50px;
  }
  
  .github:hover {
    fill: #a087c5;
    transition: 0.2s;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  
  .linkedin {
    fill: white;
    cursor: pointer;
    width: 70px;
    height: 70px;
    transition: 0.2s;
  }
  
  .linkedin:hover {
    fill: rgb(97, 184, 255);
    transition: 0.2s;
    cursor: pointer;
    width: 70px;
    height: 70px;
  }
  
  .App-header {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    color: white;
    font-family: 'MonoLisaRegular', fallback;
    align-items: center;
    padding-top: 10vh;
    margin-bottom: -10vh;
  }

  .resume-block {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80vw;
  }

  .Block-subtitle {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 900;
  }
  
  .Block-text {
    font-size: 16px;
    font-weight: 200;
    color: rgb(167, 167, 167);
  }

  .Clickable-block {
    cursor: pointer;
    transition: 0.2s;
    z-index: 1;
    background-color: #282c34;
    width: auto;
  }
  
  .Details-block {
    display: flex;
    flex-direction: column;
    font-family: 'MonoLisaRegular', fallback;
    color: white;
    background-color: #282c34;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;
    z-index: 0;
    width: 80vw;
  }
  
  .Details-block.expanded {
    max-height: 1000px; 
    transition: 0.4s ease-out;
  }

  li {
    font-size: 16px;
  }

  .Detail-block-title {
    font-size: 30px;
    font-weight: lighter;
    padding-left: 20px;
    color: rgb(167, 167, 167);
    margin-bottom: 0;
  }

  .Block-title {
    font-size: 30px;
    font-weight: lighter;
    color: #fd9855;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .svg-container {
    margin-top: 100px;
    margin-bottom: 50px;
    align-self: center;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 12%;
  }

  .App-header {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    color: white;
    font-family: 'MonoLisaRegular', fallback;
  }

  
  .Header-div {
    margin-top: 17%;
    align-self: center;
    font-family: 'MonoLisaRegular', fallback;
    color: white;
    text-align: center;
  }

  .github {
    margin-top: 8px;
    cursor: pointer;
    fill: white;
    width: 80px;
    height: 80px;
  }
  
  .github:hover {
    fill: #a087c5;
    transition: 0.2s;
    cursor: pointer;
    width: 80px;
    height: 80px;
  }
  
  .linkedin {
    fill: white;
    cursor: pointer;
    width: 100px;
    height: 100px;
    transition: 0.2s;
  }
  
  .linkedin:hover {
    fill: rgb(97, 184, 255);
    transition: 0.2s;
    cursor: pointer;
    width: 100px;
    height: 100px;
  }

  .large-text {
    font-size: 5em;
  }
  
  .small-text {
    font-size: 3em;
  }

  .resume-block {
    display: flex;
    flex-direction: row;
  }

  .Block-subtitle {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 900;
  }
  
  .Block-text {
    font-size: 30px;
    font-weight: 200;
    color: rgb(167, 167, 167);
  }

  .Clickable-block {
    cursor: pointer;
    transition: 0.2s;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    z-index: 1;
    background-color: #282c34;
    width: 40vw;
  }
  
  .Clickable-block:hover {
    background-color: #1a1d22;
    transition: 0.2s;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    z-index: 1;
  }
  
  .Details-block {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-family: 'MonoLisaRegular', fallback;
    color: white;
    background-color: #282c34;
    transform: translateX(-300%);
    transition: transform 0.3s ease-out;
    z-index: 0;
    width: 53vw;
  }

  .Details-block.expanded {
    transform: translateX(0);
  }

  li {
    font-size: 18px;
  }

  .Detail-block-title {
    font-size: 30px;
    font-weight: lighter;
    color: rgb(167, 167, 167);
    margin-bottom: 0;
  }

  .Block-title {
    font-size: 30px;
    font-weight: lighter;
    color: #fd9855;
    margin-bottom: 0;
    margin-left: 20px;
  }
}

.scroll-down {
  cursor: pointer;
  width: fit-content;
  align-self: center;
}

.links {
  font-size: 35px;
}

.Resume {
  color: white;
  background-color: #282c34;
}

body {
  color: white;
  background-color: #282c34;
}

.Info-block {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: 'MonoLisaRegular', fallback;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1d22;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(167, 167, 167);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb:hover {
  background: #fd9855;
  border-radius: 10px;
}

.project-link {
  color: rgb(97, 184, 255);
}